
/*
Header font = font-family: 'Julius Sans One', sans-serif;
 */
img {
    max-width: 100%;
}

.logo {
    margin: 5px;
}

.logo img {
    width: 100%;
}

.title h1, h2 {
    font-family: 'Julius Sans One', sans-serif;
    float: right;
}

.title h1 {
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.title h2 {
    font-size: 18px;
    padding-top: 0.2em;
    margin-top: 0.2em;
}

.header {
    margin-bottom: 5px;
}

header {
    border-bottom: 2px solid #7d97ad;
    margin-bottom: 10px;
}

.hero img {
    max-width: 100%;
}

.featured-title h2 {
    float: left;
    font-size: 20px;
}

.featured-project h3 {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

