.logo {
    padding: 0.8em;
}

.logo img {
    max-width: 80%;
}

.title {
    font-family: 'Julius Sans One', sans-serif;
    float: right;
}

.title h1 {
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.title h2 {
    font-size: 18px;
    padding-top: 0.2em;
    margin-top: 0.2em;
}

.header {
    margin-bottom: 5px;
}

header {
    border-bottom: 3px solid #7d97ad;
    margin-bottom: 10px;
}

.hero img {
    max-width: 100%;
}

.featured-title h2 {
    float: left;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24px;
}

.featured-project h3 {
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

@media screen and (min-width: 420px) {
    .title h1 {
        font-size: 36px;
    }

    .title h2 {
        font-size: 24px;
    }

    .logo img {
        max-width: 60%;
    }
}

@media screen and (min-width: 550px) {
    .logo img {
        max-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .title h1 {
        font-size: 48px;
    }

    .title h2 {
        font-size: 36px;
    }

    .logo img {
        max-width: 75%;
    }
}

@media screen and (min-width: 970px) {
    .logo img {
        max-width: 60%;
    }
}
